<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content="@ViewBag.MetaDescription" name="description" />
	<meta content="@ViewBag.MetaKeywords" name="keywords" />
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/App_Themes/Site/index.css")" />
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/App_Themes/Site/site.css")" />
	<script src="@Url.Content("~/Content/Scripts/jquery.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Content/Scripts/13.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Content/Scripts/organictabs.jquery.js")" type="text/javascript"></script>
	@RenderSection("head", false)
	@{
		var config = new EasyUI.Helpers.SystemHelper().GetSystemConfig();
		var ann = new EasyUI.Helpers.SystemHelper().GetArticleImageList(2).Take(4);
	}
</head>
<body>
	<div id="container">
		<div id="head">
			<div id="logo" class="f_l">
				<h1>
					<a href="/">
						<img src="@Url.Content("~/content/images/logo.jpg")" alt="" />
					</a>
				</h1>
			</div>
			<div id="phone" class="f_r">
				<img src="@Url.Content("~/content/images/phone.jpg")" alt="" />
			</div>
		</div>
		<div id="menu" class="cl">
			@*@Html.Partial("MenuHelper")*@
			<ul>
				<li class="@ViewBag.Home"><a href="/" title="">首页</a></li>
				<li class="@ViewBag.About"><a href="/School">学校概况</a> </li>
				<li class="@ViewBag.SchoolNews2"><a href="/Home/NewsList/2">学院动态</a> </li>
				<li class="@ViewBag.SchoolNews3"><a href="/Home/NewsList/3">美发专业</a> </li>
				<li class="@ViewBag.SchoolNews4"><a href="/Home/NewsList/4">保健养生</a> </li>
				<li class="@ViewBag.SchoolNews5"><a href="/Home/NewsList/5">形象设计</a> </li>
				@*<li class="@ViewBag.SchoolNews6"><a href="/Home/NewsList/6">招生简章</a> </li>*@
				<li class="@ViewBag.SchoolNews6"><a href="/zsjz">招生简章</a> </li>
				<li class="@ViewBag.SchoolNews7"><a href="/Home/NewsList/7">学员风采</a> </li>
				<li class="@ViewBag.Contact"><a href="/Contact">联系我们</a> </li>
			</ul>
		</div>
		<div class="dtso cl">
			<div class="gg f_l">
				<div class="title">
					最新动态</div>
				<div id="announcement">
					<ul>
					@foreach (var item in ann)
	 {
		 <li><a href="/Home/TDetail/@item.ID" title="@item.Title">@item.ShortTitle</a><img class="img_hot" src="@Url.Content("~/content/images/hot.gif")"></li>
	 }
						@*<li><a href="#">礼大特惠</a><img class="img_hot" src="@Url.Content("~/content/images/hot.gif")"></li>
						<li><a href="#">周年庆宣传短片</a></li>
						<li><a href="#">职业化妆师等级资格证书</a><img class="img_news" src="@Url.Content("~/content/images/new.gif")"></li>*@
					</ul>
				</div>
			</div>
			<div class="Search f_r">
				<form action="/home/search" target="_blank">
					<div class="ico">
					</div>
					<input name="q" id="q" type="text" class="input" value="" />
					<input class="btn" type="submit" value="搜索" />
					<input type="hidden" name="s" value="" />
				</form>
			</div>
		</div>
		@RenderBody()
		<!--底部友情链接上支付方式等内容-->
		<div class="Service cl">
			<dl class="Overview">
				<dt>关于我们</dt>
				<dd>
					<a href="/Home/Detail/2" title="学校介绍">学校介绍</a></dd>
				<dd>
					<a href="/Home/Detail/3" title="品牌荣誉">品牌荣誉</a></dd>
				<dd>
					<a href="/Home/Detail/4" target="_blank" title="合作企业">合作企业</a></dd>
				<dd>
					<a href="/Home/Detail/5" title="招贤纳士">招贤纳士</a></dd>
			</dl>
			<dl class="faq">
				<dt>常见问题</dt>
				<dd>
					<a href="/Home/Detail/2" target="_blank" title="购课流程">购课流程</a></dd>
				<dd>
					<a href="/School/Index#core2" title="">关于食宿</a></dd>
				<dd>
					<a href="/Contact/index" title="">校区地址</a></dd>
				<dd>
					<a href="/Contact/index" title="">换乘方式</a></dd>
			</dl>
			<dl class="Payment">
				<dt>支付方式</dt>
				<dd>
					<a href="/enrolmen/online/online.htm" title="">网上报名</a></dd>
				<dd>
					<a href="/enrolmen/index.htm" title="">现场报名</a></dd>
				<dd>
					<a href="/enrolmen/index.htm" title="">电话报名</a></dd>
				<dd>
					<a href="/contactus/index.htm" title="">汇款报名</a></dd>
			</dl>
			<dl class="Ta">
				<dt>课程</dt>
				@*<dd>
					<a href="/tkz/" target="_blank" title="听课证">听课证</a></dd>*@
				<dd>
					<a href="/Home/NewsList/3" title="美发课程">美发课程</a></dd>
				<dd>
					<a href="/Home/NewsList/4" title="保健养生课程">保健养生课程</a></dd>
				<dd>
					<a href="/Home/NewsList/5" title="形象设计课程">形象设计课程</a></dd>
			</dl>
			<dl class="Cto">
				<dt>证书考取</dt>
				<dd>
					<a href="#" target="_blank" title="证书考取">证书考取</a></dd>
				@*<dd>
					<a href="#" title="">摄影师</a></dd>
				<dd>
					<a href="#" title="">化妆师</a></dd>*@
			</dl>
			<dl class="Es">
				<dt>就业服务</dt>
				<dd>
					<a href="#" target="_blank" title="就业流程">就业流程</a></dd>
				<dd>
					<a href="#" title="">招聘求职</a></dd>
				<dd>
					<a href="#" title="">招聘信息</a></dd>
				<dd>
					<a href="#" title="">填写简历</a></dd>
			</dl>
			<dl class="Ts">
				<dt>技术支持</dt>
				<dd>
					<a href="#" title="">企业培训</a></dd>
				<dd>
					<a href="" title="">技术加盟</a></dd>
				<dd>
					<a href="" title="">联合办学</a></dd>
				<dd>
					<a href="" title="">业务合作</a></dd>
			</dl>
		</div>
		<div class="footer">
			<div class="fotl f_l">
				<div class="fotnav">
					<a href="/contact" target="_blank">联系我们</a> | <a href="/Home/Privacy" target="_blank">
						隐私声明</a> | <a href="/Home/Disclaimer" target="_blank">免责申明</a> | <a href="/Home/sitemap"
							target="_blank">网站地图</a> | <a href="/Home/Imprint" target="_blank">版权说明</a>
					| <a href="#" target="_blank">合作企业</a>
				</div>
				<div class="fkf">
					<p>@config.Copyright</p>
				</div>
			</div>
			<div class="copyright f_r">
				<p>
					地址：北京市西城区西砖胡同2号院</p>
				<p>
					机构电话: 010-63530409 备案号: @config.ICP</p>
			</div>
		</div>
	</div>
	@RenderSection("scripts", false)
</body>
</html>
