@{ 
	Layout = null; 
}
@*课程开始*@
<div id="warpsub">
	<ul class="nav">
		<li class="nav-one"><a href="#featured2" class="current">摄影专业</a></li>
		<li class="nav-two"><a href="#core2">化妆专业</a></li>
		<li class="nav-three last"><a href="#jquerytuts2">数码专业</a></li>
	</ul>
	<div class="list-wrap">
		<div id="featured2">
			<ul>
				<li class="tit red"><strong>高端就业</strong></li>
				<li>
					<dl>
						<dd>
							<span><a href="/photography/kecheng/2011111431_1.htm" target="_blank">摄影一年班</a></span><span
								class="gray">(学制：12个月)</span></dd>
						<dd>
							<span><a href="/photography/kecheng/2011111432_1.htm" target="_blank">摄影大专班</a></span><span
								class="gray">(学制：24个月)</span></dd>
					</dl>
				</li>
			</ul>
			<ul>
				<li class="tit red"><strong>精英人才</strong></li>
				<li><span><a href="/photography/kecheng/2011111430_1.htm" target="_blank">摄影精英班</a></span><span
					class="gray">(学制：6个月)</span></li>
			</ul>
			<ul>
				<li class="tit red"><strong>专业人才</strong></li>
				<li><span><a href="/photography/kecheng/2011111427_1.htm" target="_blank">专业摄影班</a></span><span
					class="gray">(学制：3个月)</span></li>
			</ul>
			<ul style="border-bottom: medium none">
				<li class="tit red"><strong>入门/提升</strong></li>
				<li>
					<dl>
						<dd>
							<span><a href="/photography/kecheng/2012033041_1.htm" target="_blank">时装广告/静物</a></span><br>
							<span class="gray">(学制：1个月)</span></dd>
						<dd>
							<span><a href="/photography/kecheng/2011111428_1.htm" target="_blank">影楼样片实拍</a></span><br>
							<span class="gray">(学制：1个月)</span></dd>
						<dd>
							<span><a href="/photography/kecheng/2011111426_1.htm" target="_blank">单/双人美姿</a></span><br>
							<span class="gray">(学制：1个月)</span></dd>
						<dd>
							<span><a href="/photography/kecheng/2011111425_1.htm" target="_blank">摄影基础</a></span><br>
							<span class="gray">(学制：1个月)</span></dd>
						<dd>
							<span><a href="#" target="_blank">周未班</a></span><br>
							<span class="gray">(学制：96课时)</span></dd>
						<dd>
							<span><a href="/photography/kecheng/2011111424_1.htm" target="_blank">速写/构图</a></span><br>
							<span class="gray">(学制：1个月)</span></dd>
					</dl>
				</li>
			</ul>
		</div>
		<div class="hide" id="core2" style="position: relative; top: 0px; left: 0px; display: none;">
			<ul>
				<li class="tit red"><strong>高端就业</strong></li>
				<li>
					<dl>
						<dd>
							<span><a href="/makeup/kecheng/2011111022.htm" target="_blank">化妆一年班</a></span><span
								class="gray">(学制：12个月)</span></dd>
						<dd>
							<span><a href="/makeup/kecheng/2011111023.htm" target="_blank">化妆大专班</a></span><span
								class="gray">(学制：24个月)</span></dd>
					</dl>
				</li>
			</ul>
			<ul>
				<li class="tit red"><strong>精英人才</strong></li>
				<li><span><a href="/makeup/kecheng/2011111021.htm" target="_blank">化妆精英班</a></span><span
					class="gray">(学制：6个月)</span></li>
			</ul>
			<ul>
				<li class="tit red"><strong>专业人才</strong></li>
				<li><span><a href="/makeup/kecheng/2011111019.htm" target="_blank">专业化妆班</a></span><span
					class="gray">(学制：3个月)</span></li>
			</ul>
			<ul style="border-bottom: medium none">
				<li class="tit red"><strong>入门/提升</strong></li>
				<li>
					<dl>
						<dd>
							<span><a href="/makeup/kecheng/2011111018.htm" target="_blank">广告/舞台妆</a></span><br>
							<span class="gray">(学制：1个月)</span></dd>
						<dd>
							<span><a href="/makeup/kecheng/2011111017.htm" target="_blank">整体化妆造型</a></span><br>
							<span class="gray">(学制：1个月)</span></dd>
						<dd>
							<span><a href="/makeup/kecheng/2011111016.htm" target="_blank">各式妆发造型</a></span><br>
							<span class="gray">(学制：1个月)</span></dd>
						<dd>
							<span><a href="/makeup/kecheng/2011111015.htm" target="_blank">化妆基础</a>入门</span><br>
							<span class="gray">(学制：1个月)</span></dd>
						<dd>
							<span><a href="/makeup/kecheng/2012021440.htm" target="_blank">周未班</a></span><br>
							<span class="gray">(学制：96课时)</span></dd>
						<dd>
							<span><a href="/makeup/kecheng/2011111014.htm" target="_blank">色彩美学</a></span><br>
							<span class="gray">(学制：1个月)</span></dd>
					</dl>
				</li>
			</ul>
		</div>
		<div class="hide" id="jquerytuts2" style="position: relative; top: 0px; left: 0px;
			display: none;">
			<ul>
				<li class="tit red"><strong>高端就业</strong></li>
				<li><span><a href="/Photoshop/kecheng/2011111438.htm" target="_blank">数码精英班</a></span><span
					class="gray">(学制：6个月)</span></li>
			</ul>
			<ul>
				<li class="tit red"><strong>精英人才</strong></li>
				<li><span><a href="/Photoshop/kecheng/2011111437.htm" target="_blank">数码两栖班</a></span><span
					class="gray">(学制：6个月)</span></li>
			</ul>
			<ul>
				<li class="tit red"><strong>专业人才</strong></li>
				<li><span><a href="/Photoshop/kecheng/2011111435.htm" target="_blank">专业数码班</a></span><span
					class="gray">(学制：3个月)</span></li>
			</ul>
			<ul style="border-bottom: medium none">
				<li class="tit red"><strong>入门/提升</strong></li>
				<li>
					<dl>
						<dd>
							<span><a href="/Photoshop/kecheng/2011111436.htm" target="_blank">数码修图班</a></span><br>
							<span class="gray">(学制：1个月)</span></dd>
						<dd>
							<span><a href="/Photoshop/kecheng/2011111433.htm" target="_blank">数码高研班</a></span><br>
							<span class="gray">(学制：1个月)</span></dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
</div>
@*课程结束*@ <a href="" target="_blank">
	<img title="专业化妆课程" src="@Url.Content("~/content/images/20130103034952620.jpg")" alt="" width="285" height="149" style="border:0px;">
</a>@*新闻开始*@
<div id="rdph">
	<ul class="nav">
		<li class="title"></li>
		<li class="nav-one"><a href="#featured2" class="current">月</a></li>
		<li class="nav-two"><a href="#core2">周</a></li>
		<li class="nav-three last"><a href="#jquerytuts2">日</a></li>
		<li class="lrl">浏览量</li>
	</ul>
	<div class="list-wrap">
		<ul id="featured2">
			@foreach (var item in ViewBag.Classes)
   {
				<li><a href="/Home/TDetail/@item.ID" title="@item.Title">@item.Title</a><span class="ding">@item.PageVisits</span></li>
   }
		</ul>
		<ul id="core2" class="hide" style="position: relative; top: 0px; left: 0px; display: none;">
			@foreach (var item in ViewBag.Classes)
   {
				<li><a href="/Home/TDetail/@item.ID" title="@item.Title">@item.Title</a><span class="ding">@item.PageVisits</span></li>
   }
		</ul>
		<ul id="jquerytuts2" class="hide" style="position: relative; top: 0px; left: 0px;
			display: none;">
			@foreach (var item in ViewBag.Classes)
   {
				<li><a href="/Home/TDetail/@item.ID" title="@item.Title">@item.Title</a><span class="ding">@item.PageVisits</span></li>
   }
		</ul>
	</div>
</div>
@*新闻结束*@ <a href="#" target="_blank">
	<img title="彩妆喷枪课程" src="/content/images/20131202035201557.jpg" width="285" height="149"
		style="border: 0px;">
</a>
<div class="contact">
	<div class="title">
	</div>
	<div class="centent">
		<p>
			<img src="/content/images/tel.jpg" style="vertical-align: middle">
			志诚职业教育免费咨询电话</p>
		<p class="red k400">
			<strong>010-63530409</strong></p>
		<div class="kfqq cl">
			<a class="qq" href="#"></a><a class="qq" href="#"></a><a class="qq" href="#"></a>
		</div>
		<p>
			<img src="/content/images/qipao.jpg" style="vertical-align: middle">
			<a href="#" target="_blank" id="munezx"></a><a href="#">网上报名</a>
		</p>
	</div>
</div>
<div class="xqmap">
	<div class="title">
		<h3>
			校区地图</h3>
	</div>
	<div class="centent">
		<a href="#">
			<img src="/statics/2012/images/images2012/pic/map.jpg"></a></div>
</div>
