@model Entity.Entities.ArticleEntity
@{
    ViewBag.Title = "EditArticleView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Components/KindEditor/default/default.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Components/KindEditor/kindeditor-min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Components/KindEditor/zh_CN.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Plugins/WDatePicker/WdatePicker.js")" type="text/javascript"></script>
<style>
	textarea {
		display: block;
	}
</style>
<script>
    var editor;
    KindEditor.ready(function (K) {
        editor = K.create('textarea[id="Content"]', {
        	resizeType: 1,
            allowPreviewEmoticons: true,
            allowImageUpload: true
        });
    });
</script>
<table class="pagetable">
	<tr>
		<td class="areatitle" colspan="4">修改文档</td>
	</tr>
	<tr>
		<td class="title"><span class="red">*</span> 文章标题：</td>
		<td>
			<input type="text" class="textbox width400" value="@Model.Title" col="Title" validtype="required(文章标题)|maxLen(200)"/>
		</td>
		<td class="title">简略标题：</td>
		<td>
			<input type="text" class="textbox width200" value="@Model.ShortTitle" col="ShortTitle" validtype="maxLen(50)" />
		</td>
	</tr>
	<tr>
		<td class="title">
			<span class="red">*</span> 文章栏目：
		</td>
		<td>
			<select id="ColumnID" col="ColumnID" class="dropdown" validtype="required(文章栏目)">
				<option value="">请选择文章栏目</option>
				@foreach (var item in ViewBag.Category)
				{
					<option value="@item.ID">@item.Name</option>
				}
			</select>
		</td>
		<td class="title">权重：</td>
		<td>
			<input type="text" class="textbox" value="@Model.SortOrder" col="SortOrder" validtype="required|Num" value="0" />
		</td>
	</tr>
	<tr>
		<td class="title">
			更新时间：
		</td>
		<td>
			<input type="text" class="textbox" value="@Model.UpdateTime" col="UpdateTime" onfocus="WdatePicker()" />
		</td>
		<td class="title"> 文章来源：</td>
		<td>
			<input type="text" class="textbox" value="@Model.Source" col="Source" validtype="maxLen(50)"/>
		</td>
	</tr>
	<tr>
		<td class="title"> 关键字：</td>
		<td>
			<input type="text" class="textbox width300" col="MetaKeywords" value="@Model.MetaKeywords" /> <br />
			<span class="icon-tip" style="padding-left: 18px; margin-left: 18px;">栏目关键字(多个关键字之间用,隔开)</span>
		</td>
		<td class="title">作　者：</td>
		<td>
			<input type="text" class="textbox" col="Author" value="@Model.Author" validtype="maxLen(50)" />
		</td>
	</tr>
	<tr>
		<td class="title">
			内容摘要：
		</td>
		<td colspan="3">
			<textarea class="textarea" col="Overview">@Model.Overview</textarea>
		</td>
	</tr>
	<tr>
		<td class="title">
			<span class="red">*</span> 文章内容：
		</td>
		<td colspan="3">
			@*<a href="javascript:void(0);" onclick="show_Description(this)">显示文章详情</a>*@
			<textarea class="textarea" style="width: 90%; height: 300px;" id="Content">@Model.Content</textarea>
		</td>
	</tr>
    <tr>
		<td class="title">
			页面描述：
		</td>
		<td colspan="3">
			<textarea class="textarea" col="MetaDescription">@Model.MetaDescription</textarea>
		</td>
	</tr>
	<tr>
		<td class="title">
			链接：
		</td>
		<td colspan="3">
            <input type="text" class="textbox" col="Slug" value="@Model.Slug" validtype="maxLen(50)"/>
			<span class="icon-tip" style="padding-left: 18px; margin-left: 18px;">链接中的关键字,如为空,则会从文章中取得</span>
		</td>
	</tr>
	<tr>
		<td class="title"></td>
		<td colspan="3">
            <input col="ID" value="@Model.ID" type="hidden" />
			<input onclick="Save()" type="button" value="保存"/>
		</td>
	</tr>
</table>
<script>
    function Save() {
        if (!$.validatebox.valid()) {
            return;
        }

        var param = $('.pagetable').GetPostData();
        var description = "";
        if (editor)
            description = editor.html();
        if (description.length > 5000) {
            alert("内容不能超过5000个字符！！");
        } if (description.length == 0) {
            alert("文章内容不能为空！！");
        }
        param.Content = description;

        $.U1Ajax('/admin/ArticleManage/EditArticleJson', param, function (result) {
            if (result.Tag > 0) {
                alert('保存成功! ');
                closeSelectTab(request.QueryString("tab"));
            } else {
                alert(result.Message);
            }
        }, false);
    }

    $(function () {
        $("#ColumnID").val('@Model.ColumnID');
    });
</script>