@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
@section head{
	<link href="@Url.Content("~/App_Themes/Site/about.css")" rel="stylesheet" type="text/css" />
}
@*左边*@
<div class="wl f_l">
	<div class="CurrentLocation">
		当前位置： <a href="/">首页</a> &gt; 学校概况
	</div>
	<div class="wcentent">
		<div class="SchoolOverview cl" id="SchoolOverview">
			<div class="title">
				&nbsp;</div>
			<ul class="nav">
				<li class="nav-one"><a class="current" href="#featured2">关于我们</a></li>
				<li class="nav-two"><a href="#core2">关于食宿</a></li>
				<li class="nav-three last"><a href="#jquerytuts2">我们的优势</a></li>
			</ul>
			<div class="list-wrap">
				<div id="featured2">
					<div class="about1">
						<h1 class="red">
							@(ViewBag.School.Title)：</h1>
						@(Html.Raw(ViewBag.School.Content))
					</div>
				</div>
				<div class="hide" id="core2" style="position: relative; top: 0px; left: 0px; display: none;">
					<div class="about1">
						<h1 class="red">
							@(ViewBag.Dom.Title)：</h1>
						@(Html.Raw(ViewBag.Dom.Content))
					</div>
				</div>
				<div class="hide" id="jquerytuts2" style="position: relative; top: 0px; left: 0px;
					display: none;">
					<div class="about1">
						<h1 class="red">
							@(ViewBag.Our.Title)：</h1>
						@(Html.Raw(ViewBag.Our.Content))
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@*右边*@
<div class="wr f_r">
	@{Html.RenderAction("SiteNews", "Home");}
</div>
